<nb-list class="List1 list1">
  <nb-list-item class="slot">
    <div class="space Space91 space91" >
      <p class="Text11 text11 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">1.Either handwrite the characters or design them using Adobe Photoshop or Adobe Illustrator.
      </p>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space Space101 space101" >
      <p class="Text21 text21 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">2. Capture the characters using a smartphone, a camera or a scanner.
      </p>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space Space111 space111" >
      <p class="Text31 text31 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">3. Upload the image file.</p>
    </div>
  </nb-list-item>
</nb-list>