:host {

  width: 90%;
  height: auto;
  margin: 0;
  display: block;
  
  .text11 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space91 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text21 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space101 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text31 {
    font-size: 15px;
    line-height: initial;
  }
    
  .space111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .list1 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
}