<nb-list class="List list">
  <nb-list-item class="slot">
    <div class="space Space9 space9" >
      <p class="Text1 text1 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">1. Download a template.
      </p>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space Space10 space10" >
      <p class="Text2 text2 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">2. Print it and fill it out.
      </p>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space Space11 space11" >
      <p class="Text3 text3 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">3. Capture the filled out template using a smartphone, a camera or a scanner.
      </p>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space Space12 space12" >
      <p class="Text4 text4 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">4. Upload the image file.</p>
    </div>
  </nb-list-item>
</nb-list>