<div class="space Space space-component" >
  <div class="space Space15 space15" >
    <span class="Text7 text7 text-italic text-bold text-alignment-left text-transform-none subtitle" ngClass="'text-' + (basic)">Turn your own handwritting into a font! </span>
    <p class="Text71 text71 text-alignment-justify text-transform-none paragraph" ngClass="text-basic" innerHTML="Fontastic is a font generator tool for the design industry to create customized font files. It allows designers to use their creativity to create the perfect font for their project without wasting hours searching for it online. This tool helps them turn their ideas into reality while increasing both their productivity and creativity."></p>
  </div>
  <div class="space Space151 space151" >
    
  </div>
</div>