<div class="space Space2 space2" >
  <div class="space Space4 space4" >
    <div class="space Space5 space5" >
      <p class="Text text text-alignment-left text-transform-none paragraph" ngClass="text-basic"></p>
      <app-list></app-list>
    </div>
    <div class="space Space51 space51" >
      <div class="space Space8 space8" >
        <button nbButton class="Button button  size-xl-medium iconPlacement-xl-none" appearance="outline" status="success">
          <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
          <span>Download Template</span>
        </button>
      </div>
      <div class="space Space81 space81" >
        <button nbButton class="Button1 button1  size-xl-medium iconPlacement-xl-none" appearance="outline" status="success">
          <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
          <span>UPLOAD TEMPLATE</span>
        </button>
      </div>
    </div>
  </div>
  <div class="space Space6 space6" >
    <div class="space Space7 space7" >
      <app-list1></app-list1>
    </div>
    <div class="space Space71 space71" >
      <button nbButton class="Button2 button2  size-xl-medium iconPlacement-xl-none" appearance="outline" status="success">
        <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
        <span>Upload Characters</span>
      </button>
    </div>
  </div>
</div>