<div class="space Space3 space3" >
  <div class="space Space13 space13" >
    <div class="space Space14 space14" >
      <p class="Text5 text5 text-bold text-alignment-left text-transform-none paragraph" ngClass="text-basic">Preview Your Font</p>
    </div>
    <div class="space Space142 space142" >
      
    </div>
    <div class="space Space141 space141" >
      <button nbButton class="Button3 button3  size-xl-medium iconPlacement-xl-none" appearance="outline" status="success">
        <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
        <span>Download Font</span>
      </button>
    </div>
  </div>
</div>